@import url('./global.css');

/*headline*/

.content{
    width: 100%;
    min-width: 100vph;
    padding-top: 180px;
    padding-bottom: 80px;
}

.headline{
    justify-content: flex-start;
    align-items: center;
    gap:16px;
}

.redBar{
    width: 0px;
    height: 72px;
    border: 8px solid var(--main-red);
    color:var(--main-red);
}

.headline h1 {
    font-size:48px;
    font-weight: bold;
}

/*region select*/
.regionSelect{
    padding-top: 33px;
    padding-bottom: 40px;
    gap:16px;
}

.regionSelect label{
    font-size: 24px;
}

.regionSelect select{
    width: 304px;
    height: 38px;
    border:1px solid #CED4DA;
    font-weight: normal;
    color: #495057
}

/*locations*/
.locations{
    flex-wrap: wrap;
    gap:24px;
    row-gap: 48px;
}

.location1{
    width: 416px;   
}

.location1 .main_location_pic{
    width: 416px;
    height: 224px;
    box-sizing: content-box;
}

.location1 h3{
    font-size: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
}

.location1 ul li{
    font-size:20px;
    font-family: sours;
}

.location1 .location_info{
    align-items: center;
    gap: 11px;
  
}

.location1 .icon{
    width: 18px;
    height: 18px;
}

.location1 h4{
    width: 100%;
    background-color: black;
    color: white;
    font-size: 19px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 16px;
    text-align: center;
}

